{% INCLUDECSS '@lmdi_index/index.css' %}
{% INCLUDE 'overall_header.html' %}
<span id="haut"></span>

<h2>{{ TITLE }}</h2>

<div class="panel">
	<div class="inner">
	<span class="corners-top"><span></span></span>
		<div class="content">
		<div class="glossa">{{ lang('INDEX_EDIT_PAGES') }}</div>
		<br>
		<div class="glossb">
		{% for gabc in loops.gabc %}
		{% if not gabc.S_URL %}<span class="cap cap0">{{ gabc.ABC }}&nbsp;</span>{% else %}<a class="cap" href ="{{ gabc.URL }}">{{ gabc.ABC }}&nbsp;</a>{% endif %}
		{% endfor %}</div>
		<br>
		<table class="deg">
			<thead>
				<tr>
					<th class="deg0">{{ lang('INDEX_NUMERO') }}</th>
					<th class="deg0">{{ lang('INDEX_CODE') }}</th>
					<th class="deg0">{{ lang('INDEX_BALISE') }}</th>
					<th class="deg0">{{ lang('INDEX_NB_BAL') }}</th>
					<th class="deg0">{{ lang('INDEX_DELETE') }}</th>
					<th class="deg0">{{ lang('INDEX_EDIT') }}</th>
				</tr>
			</thead>
			<tbody>
			{% for gtags in loops.gtags %}
				<tr>
				<td class="deg0">{{ gtags.ANCHOR }}<span id="{{ gtags.ID }}">{{ gtags.NUM }}</span></td>
				<td class="deg0">{{ gtags.ID }}</td>
				<td class="deg0"><a href="{{ gtags.URL }}">{{ gtags.TAG }}</a></td>
				<td class="deg0">{{ gtags.NB }}</td>
				<td class="deg0"><a href="{{ gtags.DEL }}">{{ lang('INDEX_DELETE') }}</a></td>
				<td class="deg0"><a href="{{ gtags.ED }}">{{ lang('INDEX_EDIT') }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	<span class="corners-bottom"><span></span></span>
	</div>
</div>
<p id="back-top">
	<a href="#haut"><span></span><b>{{ lang('BACKTOP') }}</b></a>
</p>

{% INCLUDE 'overall_footer.html' %}