{% INCLUDECSS '@lmdi_index/index.css' %}
{% INCLUDE 'overall_header.html' %}

<h2>{{ lang('INDEX_PAGES_ORDRE') }}</h2>

<div class="panel">
	<div class="inner">
	<span class="corners-top"><span></span></span>
		<div class="content">
		{% if S_AUTOR %}<p class="subtitle"><a href="{{ EDITOR }}">{{ lang('INDEX_EDIT_PAGES') }}</a></p>{% endif %}
		<div class="glossa">{{ lang('INDEX_DISPLAY_PAGES') }}</div>
		<div class="text">{{ lang('STATIC_ORDRE_EXPLAIN') }}</div>
		<table class="deg" cellspacing="1">
			<thead>
				<tr class="deg"><td class="deg3" colspan="4">{{ CLASSE }}</td></tr>
				<tr class="deg"><td class="deg1" colspan="4">{{ ORDRE }}</td></tr>
			</thead>
			<tbody>
			{% for gfam in loops.gfam %}
				<tr class="deg">
				<td class="deg0"><a href="{{ gfam.URL1 }}">{{ gfam.FAM1 }}</a></td>
				<td class="deg0"><a href="{{ gfam.URL2 }}">{{ gfam.FAM2 }}</a></td>
				<td class="deg0"><a href="{{ gfam.URL3 }}">{{ gfam.FAM3 }}</a></td>
				<td class="deg0"><a href="{{ gfam.URL4 }}">{{ gfam.FAM4 }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	<span class="corners-bottom"><span></span></span>
	</div>
</div>

{% INCLUDE 'overall_footer.html' %}